.col {
    word-wrap: break-word; /* Перенос слов */
}

#maket {
    width: 100%; /* Ширина всей таблицы */
}

TD {
    vertical-align: top; /* Вертикальное выравнивание в ячейках */
    padding: 5px; /* Поля вокруг ячеек */
}

TD#leftcol {
    width: 470px; /* Ширина левой колонки */

}

TD#rightcol {
    width: 400px;
}